{block content}
<div class="container container-fluid">
    <div class="row">
        <h1 class="my-3">Registration</h1>

        <div class="register-form my-3">
            {control registrationForm}
        </div>
    </div>
</div>